.MyInput {
   width: 100%;
   border-radius: 15px;
   height: 100%;
   text-align: center;
   background: transparent;
   color: aliceblue;
   outline: 1px solid aliceblue;
   box-shadow: 2px 2px 5px aliceblue;
   font-size: 25px;

}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    aliceblue;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    aliceblue;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    aliceblue;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    aliceblue;
}

::placeholder { /* Most modern browsers support this now. */
   color:    aliceblue;
}

div {
   height: 40px;
}